<table ng-controller="addctrl as vm">
    <tr>        
        <td colspan="2">
            <long-label label="Add your TODO item here." info="vm.info">               
                <input ng-model="vm.task" />
            </long-label>
        </td>
    </tr>
    <tr>
        <td colspan="2">Status &nbsp; <input type="checkbox" ng-model="vm.status">
    </tr>
    <tr>
        <td><button ng-click="vm.resetIt()">Reset</button></td>
        <td><button ng-click="vm.saveIt()">Save</button></td>
    </tr>
</table>